body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(45deg, rgb(179, 67, 154), rgb(218, 70, 70));
    font-family: "Sansita Swashed", cursive;
    color: #fdfdfd;
    font-size: xx-large;
}

form {
  background-color: #fdfdfd;
  padding: 40px;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

img {
  max-width: 100px;
  margin-bottom: 20px;
  align-self: flex-start; /* Adjusts the alignment to the left */
}

label {
  display: block;
  margin-bottom: 8px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

input[type="submit"],
input[type="reset"] {
  background-color: rgb(218, 70, 70);
  color: #fff;
  padding: 20px 20px;
  border-radius: 10px;
  font-family: "Sansita Swashed", cursive;
}

@media (max-width: 600px) {
  form {
      width: 80%;
  }
}
